.character {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: var(--slate-700);
    border-radius: 5px;
}

.characterLink {
    color: var(--slate-50);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    display: block;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.characters {
    display: flex;
    flex-wrap: wrap;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.search {
    height: 60px;
    border: 2px solid var(--slate-700);
    font-size: 24px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 20px 0 30px 10px;
    width: calc(100% - 60px);
}